.DS_Store
.bundle

### Obj-C/Swift specific ###
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

### Build generated ###
build/
DerivedData/

### Various settings ###
*.pbxuser
*.mode1v3
**/xcuserdata
**/xcshareddata

### R.swift ###
*.generated.swift

### Xcodegen ###
# *.xcodeproj
# Projects/projects.yml

### Xcode Path ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### Cocoapods ###
Pods/
*.xcworkspace

### Cocoapods-binary-cache ###
_Prebuild*/

### Carthage ###
Carthage/Checkouts
Carthage/Build/

### Crashlytics ###
/Crashlytics

### fastlane ###
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

### Playgrounds ###
timeline.xctimeline

### Others ###
*.moved-aside
*.xccheckout
*.xcscmblueprint
